body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.styled {
  text-transform: uppercase;
  font-weight: bold;
  color: blueviolet;
}


.carsTable td, .carsTable th {
  border: 1px solid #ddd;
  padding: 8px;
  width: 33%;
  text-align: center;
}

.carsTable tr:hover { background-color: #dddddd; }

.carsTable th{
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: rgb(24, 99, 160);
  color: #ffffff;
}

table {
  margin: 0px auto;
}
